/* local Playfair Display font */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --primary: hsl(159, 46%, 89%);
  --secondary: oklch(84.524% 0.0603 334.948);
  --color1: hsl(187, 67%, 95%);
  --color2: hsl(141, 33%, 92%);
  --color3: hsl(347, 100%, 87%);
  --color4: hsl(353, 100%, 98%);
  --color5: hsl(347, 100%, 97%);
  --backgroud-white: hsl(0, 0%, 95%);
  --colorgreen: hsl(143, 64%, 66%);
  --radius: 0.625rem;
  --background: white;
  --foreground: oklch(0.95 0.01 264);
  --card: #86A788;
  --card-foreground: oklch(0.98 0.01 264);
  --popover: #86A788;
  --popover-foreground: black;
  --primary-foreground: black;
  --secondary-foreground: oklch(0.98 0.01 264);
  --muted: #6e9980;
  --muted-foreground: oklch(0.7 0.02 264);
  --accent: oklch(0.35 0.07 264);
  --accent-foreground: oklch(0.98 0.01 264);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.35 0.07 264);
  --input: oklch(0.35 0.07 264);
  --ring: oklch(0.53 0.21 264);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #86A788;
  --sidebar-foreground: oklch(0.98 0.01 264);
  --sidebar-primary: oklch(0.53 0.21 264);
  --sidebar-primary-foreground: oklch(0.98 0.01 264);
  --sidebar-accent: oklch(0.35 0.07 264);
  --sidebar-accent-foreground: oklch(0.98 0.01 264);
  --sidebar-border: oklch(0.35 0.07 264);
  --sidebar-ring: oklch(0.53 0.21 264);
}


.dark {
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Playfair Display', serif;
  }
}
